.create_user {
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        @media (max-width: 991px) {
            width: 70px;
            height: 70px;
        }
    }

    table {
        @media (max-width: 991px) {
            overflow: auto;
            display: block;
        }
        input {
            @media (max-width: 991px) {
                min-width: 200px;
            }
        }
    }
}
