.all_products {
    text-transform: capitalize;
    th {
        span {
            display: block;
            width: max-content;
        }
    }
    h4 {
        width: max-content;
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        @media (max-width: 991px) {
            width: 50px;
            height: 50px;
        }
    }
}
