.create_order {
    img {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin-inline-end: 10px;
    }
    .select_variant {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        li {
            transition: all 0.3s ease-in-out;
            background-color: $gray-700;
            color: #fff !important;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            margin-inline-end: 5px;
            &.active {
                background-color: var(--primary);
            }
        }
    }
    .cart-of-total {
        h5 {
            background-color: $gray-600;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
    }
}
