.show_order_under_work {
    @import "../dots_and_nav";
    h1 {
        @media (max-width: 991px) {
            font-size: 20px;
        }
    }
    .owl-nav {
        display: none !important;
    }
    .files {
        li {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
            span {
                display: inline-block;
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50%;
                background-color: $gray-700;
                color: var(--white);
            }
        }
    }
    ul li h4 {
        color: var(--white);
    }
    .images_carousel {
        a {
            display: block;
            img {
                width: 100%;
                height: 200px;
            }
        }
    }
}
