.side_nav {
    .modal-dialog,
    .modal-content {
        height: 100%;
    }
    .modal-dialog {
        width: 200px;
        margin: 0;
        padding: 0;
    }
    @import "../inc/user_nav";
}
