.branch_content {
    .category {
        img {
            width: 200px;
            height: 150px;
        }
    }
    .products {
        .item {
            text-align: center;
            img {
                @media (min-width: 992px) {
                    width: 200px;
                    height: 150px;
                    margin: auto;
                }
                width: 150px;
                height: 100px;
                margin: auto;
            }
            h4 {
                padding-top: 10px;
            }
        }
    }
}
