.cart {
    .cart_details {
        table {
            @media (max-width: 991px) {
                display: block;
                width: auto;
                overflow: auto;
            }
        }
        h5,
        span {
            width: max-content;
        }
        img {
            width: 70px;
            height: 70px;
        }
        .amount {
            padding-right: 20px;
            width: 60px;
        }
        .badge {
            font-size: 16px;
        }
        .trash {
            font-size: 30px;
            cursor: pointer;
            background: transparent;
            border: transparent;
            color: var(--red);
        }
    }
}
