.footer_fixed {
    margin: 0;
    padding: 10px;
    z-index: 1;
    background-color: $gray-200;
    position: fixed;
    bottom: -2px;
    right: 0px;
    width: 100%;
    .row {
        width: 100%;
        a {
            display: block;
            .notify {
                right: -25px;
            }
            .mdi {
                position: relative;
                margin: auto;
                font-size: 35px;
                background: #fff;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: block;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}

footer {
    padding: 40px 0 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 0px black;
    ul {
        list-style-type: none;
    }
    .social-links {
        li {
            a {
                background-color: var(--primary);
                color: #fff;
                margin-left: 10px;
                width: 35px;
                height: 35px;
                line-height: 35px;

                span {
                    font-size: 25px;
                    text-align: center;
                    display: block;
                    width: auto;
                }
            }
        }
    }
    .down-footer {
        padding: 20px;
        color: var(--primary);
        background-color: $gray-200;
    }
}
