.footer_fixed {
    margin: 0;
    padding: 10px;
    z-index: 99;
    background-color: $gray-200;
    position: fixed;
    bottom: -2px;
    right: 0px;
    width: 100%;
    .row {
        width: 100%;
        a {
            display: block;
            .notify {
                right: -25px;
            }
            .mdi {
                position: relative;
                margin: auto;
                font-size: 35px;
                background: #fff;
                width: 50px;
                height: 50px;
                line-height: 50px;
                display: block;
                border-radius: 50%;
                text-align: center;
            }
        }
    }
}
.modal.products_search {
    .card {
        padding: 10px;
        margin-top: 10px;
    }
    .modal-content {
        .products {
            max-height: 400px;
            overflow: auto;
            list-style-type: none;
            margin: 0;
        }
        li {
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
            img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
                @media (max-width: 991px) {
                    width: 50px;
                    height: 50px;
                }
            }
            a {
                transition: all 0.2s ease-in-out;
                display: flex;
                align-items: center;
                padding: 0px 15px;
                border-radius: 10px;
                &:hover {
                    background-color: $gray-200;
                }
                img {
                    padding-left: 10px;
                }
            }
        }
    }
}

footer {
    padding: 40px 0 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 0px black;
    ul {
        list-style-type: none;
    }
    .social-links {
        li {
            a {
                background-color: var(--primary);
                color: #fff;
                margin-left: 10px;
                width: 35px;
                height: 35px;
                line-height: 35px;

                span {
                    font-size: 25px;
                    text-align: center;
                    display: block;
                    width: auto;
                }
            }
        }
    }
    .down-footer {
        padding: 20px;
        color: var(--primary);
        background-color: $gray-200;
    }
}
