.frontend .navbar {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    &.fixed-top {
        box-shadow: 0 0px 20px #c8c8c8;
    }
    @media (max-width: 991px) {
        padding: 0px 15px !important;
    }
    > .container {
        @media (min-width: 991px) {
            align-items: unset;
        }
    }
    .navbar-brand img {
        width: 90px;
        height: 90px;
        @media (max-width: 991px) {
            width: 70px;
            height: 70px;
        }
    }
    .navbar-toggler {
        position: relative;
        height: 30px;
        width: 40px;
        span {
            transition: all 0.3s ease-in-out;
            left: 0;
            position: absolute;
            content: "";
            height: 5px;
            border-radius: 10px;
            width: 40px;
            background-color: var(--primary);
            &:first-of-type {
                top: 0px;
            }
            &:nth-of-type(2) {
                top: 10px;
            }
            &:last-of-type {
                top: 20px;
            }
        }
        &[aria-expanded="true"] {
            span {
                &:first-of-type {
                    transform: rotate(-45deg);
                    top: 10px;
                }
                &:nth-last-of-type(2) {
                    opacity: 0;
                    left: -15px;
                }
                &:last-of-type {
                    transform: rotate(45deg);
                    top: 10px;
                }
            }
        }
    }

    .navbar-nav {
        height: 100%;
        @media (max-width: 991px) {
            padding: 0px 20px;
        }
        @media (min-width: 1199px) {
            margin-left: 120px !important;
        }
        .nav-item {
            .nav-link {
                position: relative;
                transition: all 0.3s ease-in-out;
                font-weight: bold;
                color: var(--dark);
                padding: 10px;
                border-radius: 10px;
                height: 100%;
                display: flex;
                align-items: center;
                @media (min-width: 992px) {
                    &:after {
                        transition: all 0.3s ease-in-out;
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0px;
                        height: 3px;
                        border-radius: 10px;
                        background-color: var(--primary);
                    }
                }
                .mdi {
                    font-size: 25px;
                    padding-right: 2px;
                }
                .cart_count {
                    position: absolute;
                    left: 0;
                    top: 15px;
                    background-color: var(--primary);
                    color: #fff;
                    padding: 0px 8px;
                    border-radius: 50%;
                    font-size: 15px;
                }
            }
            &:hover,
            &.active_link {
                .nav-link {
                    color: var(--primary);
                    &:after {
                        width: 100%;
                    }
                }
            }
            @media (max-width: 991px) {
                &:hover,
                &.active_link {
                    .nav-link {
                        background: var(--primary);
                        color: #fff;
                        padding-right: 20px;
                    }
                }
            }

            .cart_items {
                @media (min-width: 992px) {
                    max-width: 350px;
                }
                max-height: 400px;
                overflow-y: auto;
                padding: 10px;
                .dropdown-item {
                    position: relative;
                    .badge {
                        font-size: 16px;
                    }
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 10px;
                    }
                    .trash {
                        position: absolute;
                        left: 0;
                        top: 10px;
                        left: 10px;
                        font-size: 30px;
                        cursor: pointer;
                        background: transparent;
                        border: transparent;
                        color: var(--red);
                    }
                }
                .last_price_ul {
                    padding: 0px 25px;
                }
                .buttons {
                    a {
                        margin: 5px;
                    }
                }
            }
        }
    }
}
